
@{
    ViewBag.Title = "榕沛社區 - 會員個人資訊";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}
<div class="container-fluid" style="height:930px">
    <div class="container w-75 ">
        <div>
            <div class="divMargin">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-tabs  nav-fill mb-3  w-100" style="border: none;">                        
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-memberdata" class="nav-link nav-linkMember active  ">
                                <i class="fas fa-user-friends"></i>
                                會員資料
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-health" class="nav-link nav-linkMember  ">
                                <i class="fas fa-heart"></i>
                                生理狀況
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-petdata" class="nav-link nav-linkMember ">
                                <i class="fas fa-dog"></i>
                                寵物資料
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-rmdata" class="nav-link nav-linkMember ">
                                <i class="fas fa-home"></i>
                                訂房資訊
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-activity" class="nav-link nav-linkMember ">
                                <i class="fab fa-pagelines"></i>
                                活動資訊
                            </a>
                        </li>
                    </ul>
                    <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">

                        <!-- credit card info-->
                        <div id="nav-tab-health" class="tab-pane fade show ml180">
                            <div class="w-100 detailTitleSet pt-5">
                                <p class="fz15">健康資訊</p>
                            </div>                            
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        血壓：
                                    </div>
                                    <div class="">
                                        120/80 mmHg
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        身高：
                                    </div>
                                    <div class="">
                                        165cm
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        體重：
                                    </div>
                                    <div class="">
                                        50kg
                                    </div>
                                </div>
                                


                            </div>
                        </div>
                        <div id="nav-tab-memberdata" class="tab-pane fade show active ml180" >
                            <div class="w-100 detailTitleSet pt-5 d-flex">
                                <div>
                                    <p class="fz15">會員資料</p>
                                </div>
                                <div>
                                    <a class="fz125" style="color:blue" href="">(修改)</a>
                                </div>
                            </div>
                            <div class="detailDivSet">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="">

                                    </div>
                                    <div class="w-100">
                                        <img src="~/Content/images/marco.jpg">
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet mt3">
                                    <div class="width210">
                                        會員編號：
                                    </div>
                                    <div class="">
                                        0001
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        姓名：
                                    </div>
                                    <div class="">
                                        Marco
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        生日：
                                    </div>
                                    <div class="">
                                        1993/08/12
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        性別：
                                    </div>
                                    <div class="">
                                        男
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        信箱：
                                    </div>
                                    <div class="">
                                        Marco@gmail.com
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        密碼：
                                    </div>
                                    <div class="">
                                        *******
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        電話：
                                    </div>
                                    <div class="">
                                        0914444853
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        年齡：
                                    </div>
                                    <div class="">
                                        35
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        身分證字號/居留證：
                                    </div>
                                    <div class="">
                                        F1114555986
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        國籍：
                                    </div>
                                    <div class="">
                                        烏干達
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        緊急聯絡人：
                                    </div>
                                    <div class="">
                                        MMarco
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        緊急聯絡人電話：
                                    </div>
                                    <div class="">
                                        0988654123
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End -->
                        <!-- Paypal info -->
                        <div id="nav-tab-petdata" class="tab-pane fade ml180">
                            <div class="w-100 detailTitleSet pt-5 d-flex">
                                <div>
                                    <p class="fz15">寵物資訊</p>
                                </div>
                                <div>
                                    <a class="fz125" style="color:blue" href="">(修改)</a>
                                </div>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="">

                                    </div>
                                    <div class="w-100">
                                        <img src="~/Content/images/dog.jpg" width="300px">
                                    </div>
                                </div>
                                <div class="detailDivSet w-100">
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            飼養會員編號：
                                        </div>
                                        <div class="">
                                            0001
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            寵物編號：
                                        </div>
                                        <div class="">
                                            0001
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            晶片號碼：
                                        </div>
                                        <div class="">
                                            900073000258909
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            品種：
                                        </div>
                                        <div class="">
                                            阿柴
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            年齡：
                                        </div>
                                        <div class="">
                                            5歲
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            體重:
                                        </div>
                                        <div class="">
                                            9kg
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            生日：
                                        </div>
                                        <div class="">
                                            1996/02/29
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            性別：
                                        </div>
                                        <div class="">
                                            母
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            施打疫苗：
                                        </div>
                                        <div class="">
                                            已施打
                                        </div>
                                    </div>
                                    <div class="d-flex detailContainerDivSet">
                                        <div class="width210">
                                            絕育：
                                        </div>
                                        <div class="">
                                            已絕育
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- End -->
                            <!-- bank transfer info -->
                            <!-- End -->
                        </div>
                        <!-- End -->
                        <div id="nav-tab-rmdata" class="tab-pane fade ml180">
                            <div class="w-100 detailTitleSet pt-5">
                                <p class="fz15">房間資訊</p>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        入住日期：
                                    </div>
                                    <div class="">
                                        2020/09/30
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        退房日期：
                                    </div>
                                    <div class="">
                                        2020/10/23
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        入住天數：
                                    </div>
                                    <div class="">
                                        23 天
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        房間：
                                    </div>
                                    <div class="">
                                        1 間
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        房型：
                                    </div>
                                    <div class="">
                                        寵物房  一房兩廳
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        人數：
                                    </div>
                                    <div class="">
                                        2 位
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                        <div id="nav-tab-activity" class="tab-pane fade ml180">
                            <div class="w-100 detailTitleSet pt-5">
                                <p class="fz15">活動資訊</p>
                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動日期：
                                    </div>
                                    <div class="">
                                        2020/10/02(五)
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動名稱：
                                    </div>
                                    <div class="">
                                        吉他入門
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動時間：
                                    </div>
                                    <div class="">
                                        14:00
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動地點：
                                    </div>
                                    <div class="">
                                        活動中心音樂室
                                    </div>
                                </div>

                            </div>
                            <div class="detailDivSet w-100">
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動日期：
                                    </div>
                                    <div class="">
                                        2020/10/02(五)
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動名稱：
                                    </div>
                                    <div class="">
                                        吉他入門
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動時間：
                                    </div>
                                    <div class="">
                                        14:00
                                    </div>
                                </div>
                                <div class="d-flex detailContainerDivSet">
                                    <div class="width210">
                                        活動地點：
                                    </div>
                                    <div class="">
                                        活動中心音樂室
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>